
html,body{ margin:0; padding:0; height:100%; width:100%; }

#root, .routerContainer {
    height:100%;
    width:100%;
    overflow:hidden;
}

.App {
    height:100%;
    width:100%;
    overflow:hidden;
    background: linear-gradient(90deg, #E9C46A 0%, #F4A261 100%);
}