
html,body{ margin:0; padding:0; height:100%; width:100%; }

#root, .routerContainer {
    height:100%;
    width:100%;
    overflow:hidden;
}

.App {
    height:100%;
    width:100%;
    overflow:hidden;
    background: linear-gradient(90deg, #E9C46A 0%, #F4A261 100%);
    color: #264653;
}

/*main page*/
#mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#mainPageContents {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

aside {
    padding-right: 2rem;
    font-size: 110%;
}

.dailyChallengeBox {
    background-color: rgba(255, 255, 255, 0.51);
    width: 20rem;
    padding: 1rem;
 }

.dailyChallengeBox h4, .previousDailyChallengeBox h4 {
    margin: 0.5rem 0;
}

.previousDailyChallengeBox {
    background-color: rgba(255, 255, 255, 0.51);
    width: 20rem;
    padding: 1rem;
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.previousDailyChallengeBox p {
    margin: 0.5rem 0;
}


/*pop quiz*/

#popQuizPageContents, #popQuizAnswerPageContents {
    display: flex;
    justify-content: center;
}

.popQuizBox {
    width: 50rem;
    height: 30rem;
    background-color: rgba(255, 255, 255, 0.51);

    display: flex;
    flex-direction: column;
}

.popQuizBox .popQuizAnswers {
    list-style: none;
    text-align: left;

    display: flex;
    height: 100%;
    justify-content: space-around;
    flex-direction: column;
}

.popQuizBox .popQuizAnswers li {
    margin: 2rem;
    padding: 0.5rem;
    border: 2px solid transparent;
}

.popQuizAnswers .answer {
    padding: 0.5rem;
}


    /*general*/
#mainHeader {
    padding: 2rem 0 0 2rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

#mainHeader #headlines {
    color: #264653;
}

#mainHeader h1 {
    /*
    background: -webkit-linear-gradient(#49B788, #264653);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    */
}

#mainHeader h2 {
    padding-left: 1rem;
/*
    background: -webkit-linear-gradient(#415A77, #264653);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    */
}

#mainHeader h2, #mainHeader h1 {
    margin: 0;
}

#manualPageNav {
    display: flex;
    list-style: none;
    position: absolute;
    right: 0;
}

#manualPageNav li {
    padding: 0 0.5rem;
    cursor: pointer;
    color: transparent;
}

#manualPageNav li:hover, #manualPageNav li:active {
    color: #264653;
}

#mainFooter {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}